.boton {
    border: 3px solid #AB47BC; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #18FFFF; /*color botón*/
    color: #FFF9AA; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }

.title {
    border: 5px solid #AB47BC; /*anchura, estilo y color borde*/
    padding: 7px;
    background-color: #18FFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Helvetica', sans-serif;
    border-radius: 50px;
    text-align:center;
    color: #FFF9AA;
}

.menu {
    text-align:center;
}

.menu2 {
    text-align:left;
}